<footer class="footer-section">
    <div class="logo">
        <img src="assets/icons/logo_dark.svg">
        <div class="mt-5">
            <h6>Giftcardstonaira is a registered gift card trading company established in 2017 dedicated to providing
                world-class trading experience to people in Nigeria and Ghana.</h6>
            <p class="mt-3">Integrity, dedication and excellence in value have been the pillars to which our company
                hinges its
                practices
                and policies on.</p>
        </div>
    </div>
    <div class="footer-items">
        <div class="footer-links">
            <div class="header">
                Features
            </div>
            <a routerLink="/rates">Rate Calculator</a>
            <a routerLink="/download">Giftcardstonaira Mobile App</a>
            <a routerLink="/rewards">Rewards</a>
        </div>
        <div class="footer-links">
            <div class="header">
                Resources
            </div>
            <a href="https://giftcardstonaira.com/posts/" target="_blank">Blog</a>
            <a href="https://www.youtube.com/channel/UCcT5HeIUWnNlWOqiaKqcUKw" target="_blank">Videos</a>
            <a routerLink="/how-to-sell-steam-gift-card">How To Sell Steam Gift
                Card</a>
            <a routerLink="/how-to-sell-google-play-gift-card">How To Sell Google
                Play Gift Card</a>
            <a routerLink="/how-to-sell-itunes-gift-card">How To Sell Apple iTunes
                Gift Card</a>
            <a routerLink="/how-to-sell-amazon-gift-card">How To Sell Amazon Gift
                Card</a>
        </div>
        <div class="footer-links">
            <div class="header">
                Company
            </div>
            <a routerLink="/about">About Us</a>
            <a routerLink="/terms">Terms</a>
            <a routerLink="/privacy">Privacy Policy</a>
            <a routerLink="/aml">AML Policy</a>
        </div>
        <div class="footer-links">
            <div class="header">
                Support
            </div>
            <a routerLink="/faqs">FAQs</a>
            <a href="https://intercom.help/giftcardstonaira/" target="_blank">Visit Help Centre</a>
            <a routerLink="/contact">Contact Us</a>
        </div>
        <div class="footer-links">
            <div class="header">
                Follow
            </div>
            <a href="https://www.instagram.com/gctonaira" target="_blank">Instagram</a>
            <a href="https://twitter.com/gctonaira" target="_blank">Twitter</a>
            <a href="https://t.me/giftcardstonaira" target="_blank">Telegram</a>
        </div>
    </div>
    <div class="copyright">
        <p>All Rights Reserved. All third-party trademarks appearing on this site are the property of their respective
            owners. GiftCardsToNaira has no relationship with any third party who have trademarks or gift cards
            appearing on this site.</p>
    </div>
</footer>