<app-navbar [isAlt]="true"></app-navbar>
<div class="home-cta">
    <h3 class="title">
        AML Policy
    </h3>
    <p>AML Policy - Gift Cards To Naira</p>
</div>

<div class="details-section">
    <div class="term-tile">
        <h4 class="title">INTRODUCTION</h4>
        <p class="desc">Money laundering is the attempt to conceal or disguise the nature, location, source, ownership
            or control of illegally obtained money. Money laundering is most commonly associated with tax avoidance.
            However, other individuals may attempt to launder money in order to conceal their identity or finance their
            operations. 'Suspicious activity' is a very difficult concept to define because it can vary from one
            transaction to another based upon all the circumstances surrounding the transaction or group of
            transactions. For example, transactions by one customer may be normal based on our knowledge of that
            customer and their pattern of activity, while similar transactions by another customer may be suspicious.
            Many factors are involved in determining whether transactions are suspicious including the amount, the
            nature of the transaction and frequency of deposits/withdrawals from the system.
            GIFTCARDSTONAIRA is committed to fighting money laundering and complying fully with anti-money laundering
            laws in the Nigeria. We understand that we have responsibilities to help fight the global battle against
            money laundering and our commitment will supersede all other privacy obligations contained in our policies.
            Accordingly, GiftCardsToNaira will take all reasonable and appropriate steps to prevent persons engaged in
            money laundering, fraud, or other financial crimes from utilizing our products and services.
            <br><br>
            Our AML policies, procedures and internal controls are designed to ensure compliance with all applicable BSA
            regulations and FINRA rules and will be reviewed and updated on a regular basis to ensure appropriate
            policies, procedures and internal controls are in place to account for both changes in regulations and
            changes in our business. Key components of our AML and CTF framework include the following:
        </p>
    </div>
    <div class="term-tile">
        <h4 class="title">(i) COMPLIANCE OFFICER</h4>
        <p class="desc">Coordinating and monitoring day-to-day compliance with the relevant legislation, regulations,
            rules and industry guidance and applicable money laundering laws and regulationsMonitoring transactions to
            detect unusual suspicious activitiesPrompt preparation and delivery of all relevant returns to the
            regulatory bodies in line with SEC and FIU Rules and RegulationsCommunicating AML/CFT issues to all
            stakeholders</p>
    </div>
    <div class="term-tile">
        <h4 class="title">(ii) RISK COMMITTEE</h4>
        <p class="desc">The appointment of an independent risk committee which reports to our board of directors
            regularly on all risk and compliance matters using a risk-based approach to the assessment and management of
            money laundering and terrorist financing risks and Comply with the requirements of the Money Laundering
            (Prohibition) Act, 2011 (as amended), Terrorism (Prevention) Act, 2011 (as amended) and Terrorism Prevention
            (Freezing of International Terrorists Funds and other Related Measures) Regulations 2013, including related
            laws and Regulations.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">(iii) INTERNAL CONTROL</h4>
        <p class="desc">Formulate and implement internal controls and other procedures that will deter criminals from
            using its facilities for money laundering and terrorist financing and to ensure that its obligations under
            subsisting laws and Regulations are met..</p>
    </div>
    <div class="term-tile">
        <h4 class="title">(iv) KNOW YOUR CUSTOMER</h4>
        <p class="desc">Establishing and maintaining a risk-based approach to Customer Due Diligence (CDD), including
            customer identification, verification and KYC procedures. To ensure we meet these standards, our customers
            are required to provide certain personal details when opening a GiftCardsToNaira account and also generate
            tokens, OTP and PIN for any withdrawal request. The nature, and extent, of what is required is guided by the
            customer's deposit and withdrawal limits, account to be used and in some cases, the customer's country of
            residence. In certain circumstances, GiftCardsToNaira may perform enhanced due diligence procedures for
            customers presenting a higher risk, such as those transacting large volumes etc. Maintaining appropriate KYC
            records for the minimum prescribed periods; GiftCardsToNaira shall ensure timely and accurate rendition of
            all AML/CFT returns as specified in the SEC AML/CFT Rules and Regulations as well as other relevant
            Regulations/Act/Guidelines/Circulars that may be issued from time to time by various government agencies.We
            shall exercise due diligence in identifying and reporting a suspicious transaction. Suspicious transactions
            shall include:Transactions which are structured to avoid reporting and record keeping requirementsAltered or
            false identification or inconsistent information or any transaction involving criminal activity in
            GiftCardsToNaira's viewEntity that belongs to a person or organisation considered as terrorist.
            GiftCardsToNaira shall also provide training on the framework and raising awareness among all relevant
            employees and every Settlement proceeds are only wired to verified bank accounts registered by us.</p>
    </div>
</div>

<div class="download-section">
    <app-app-download></app-app-download>
</div>


<app-footer></app-footer>