<div class="get-app">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="cta">
                <h3 class="title">
                    Start Trading to Earn Rewards
                </h3>
                <p class="desc">Download the Giftcardstonaira app to sell your gift cards on the go</p>
                <div class="store-btns">
                    <a href="https://apps.apple.com/ng/app/giftcardstonaira-sell-giftcard/id1563355955" target="_blank"
                        class="store-btn">
                        <img src="assets/icons/ios.svg" />
                        <div class="store-label">
                            Get it on iOS
                        </div>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.dockthor.giftcardstonaira"
                        target="_blank" class="store-btn">
                        <img src="assets/icons/android.svg" />
                        <div class="store-label">
                            Get it on Android
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="app-screenshot">
            </div>
        </div>
    </div>
</div>