.home-cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFF;
    text-align: left;
    margin-top: 3rem;
    padding: 8.286rem 3.667rem 1.5rem 3.667rem;

    @media screen and (max-width:1024px) {
        padding: 4.75rem 3.333rem 2.5rem 3.333rem;

        .title {
            font-size: 2.5rem !important;
        }
    }

    @media screen and (max-width:480px) {
        padding: 4.75rem 1.6rem 2.5rem 1.6rem;
    }

    .title {
        color: #040417;
        font-size: 3rem;
        line-height: normal;
        font-weight: 900;
    }


    & p {
        color: #040417;
        font-size: 1rem;
        line-height: normal;
        font-weight: 400;
    }
}


.details-section {
    padding: 2.667rem 3.667rem 8.667rem 3.667rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media screen and (max-width:1024px) {
        gap: 3rem;
        padding: 1.333rem 3.333rem 6.333rem 3.333rem;
    }

    @media screen and (max-width:480px) {
        gap: 1.6rem;
        padding: 1rem 1.6rem 2.5rem 1.6rem;
    }
}

.contact-form {
    background: #FFFFFE;
    border: .5rem solid #F5F5FE;
    display: flex;
    justify-content: space-between;
    border-radius: 1.875rem;
    width: 100%;
    padding: 3.125rem 2rem;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;


    @media screen and (max-width:480px) {
        padding: 2.25rem 1.25rem;
    }

    @media screen and (max-width:767px) {
        align-items: center;
    }

    & .contact-footer {
        width: 100%;
    }

    & .theme-btn {
        background: #5352EC;
        border-radius: 6.25rem;
        padding: 1rem 2rem;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1rem;
        color: #FAFAFE;
        font-weight: 500;
        align-items: center;
        gap: .625rem;
    }
}

.contact-details {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width:767px) {
        margin-top: 1.5rem;
        padding: 0;
    }
}

.contact-tile {
    display: flex;
    flex-direction: column;
    gap: .875rem;

    & .contact-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & .icon-holder {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: #F5F5FE;
            border: 1px solid #EBEBFD;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                height: 1.2rem;
                width: auto;
            }
        }
    }

    & .title {
        font-size: 2rem;
        font-weight: 500;
        color: #040417;
        text-align: left;

        @media screen and (max-width:767px) {
            font-size: 1.5rem;
        }
    }

    & .desc {
        font-size: 1rem;
        color: #333333;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    & .contact {
        font-size: 1.2rem;
        color: #5352EC;
        text-decoration: none;
        cursor: pointer;
    }
}