<div class="faq-section">
    <div class="faq-title">
        <h3 class="cta">Frequently Asked Questions About Giftcardstonaira</h3>
        <p class="desc desc-2">We answered some of the questions you might have.
        </p>
    </div>
    <div class="faq-accordion">
        <div class="accordion" id="faq-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                        aria-expanded="true" aria-controls="faq1">
                        Hope it's not a scam?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        We take great pride in the longevity of our business, which we've built over the years. We hold
                        our reputation in high esteem and would never do anything to tarnish it hastily. Our customers'
                        satisfaction is of utmost importance to us and remains at the forefront of our business
                        practices.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        Which gift card has the highest rate?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        At the moment, Steam, Amex, and Razer gift cards have the highest rates. However, please note
                        that our rates are subject to change based on market trends and demand. We recommend checking
                        our <a style=" color: #5352EC;
                        text-decoration: underline;" routerLink="/rates">RATE CALCULATOR</a> or contacting our customer
                        service team for the
                        latest rates.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        How fast will I get paid?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        You will typically receive payment within 5-10mins. We strive to process payments as quickly as
                        possible to ensure a seamless experience for our users. Rest assured that we prioritize prompt
                        payment delivery to ensure your funds reach you in a timely manner.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        How can I get rewarded for trading gift card?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        There are multiple rewarding opportunities on our platform. The top two methods to earn reward
                        points are trading gift cards, offering points for each transaction, and referring others,
                        granting you points for their transactions. Additionally, our leaderboard system,
                        prediction/poll challenges, and promo codes provide further avenues for rewards. Start earning
                        today!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>