<app-navbar [isAlt]="true"></app-navbar>
<div class="home-cta">
    <h3 class="title">
        Terms of Service
    </h3>
    <p>Terms of Service for Gift Cards To Naira</p>
</div>

<div class="details-section">
    <div class="term-tile">
        <h4 class="title">INTRODUCTION</h4>
        <p class="desc">Thank you for engaging our services and/or placing an order with 'giftcardstonaira.com'
            (“Website”), a site operated by GIFTCARDSTONAIRA (“the Company”). By placing an order, clicking to accept
            this Agreement or using and/or accessing any of the Company or related services, you agree to all the terms
            and conditions of the Agreement. If you are using or ordering the Company's service(s) or related service(s)
            on behalf of a Company or other entity, then “Customer” or “You” means that entity, and you are binding that
            entity to the Agreement. You represent and warrant that you have the legal power and authority to enter into
            the Agreement and that, if the Customer is an entity, the Agreement is entered into by an employee or agent
            with all necessary authority to bind that entity to the Agreement.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">GENERAL</h4>
        <p class="desc">The terms and conditions of the Agreement (together with any other terms and conditions agreed
            in writing between the Company and the Client from time to time) constitute the entire agreement between the
            parties and supersede any previous agreement(s) or understanding(s) and may not be varied except with notice
            from the Company. No failure or delay by the Company in exercising any of its rights under the Agreement
            shall be deemed to be a waiver of that right, and no waiver by the Company of any breach of the Contract by
            the Client shall be considered as a waiver of any subsequent breach of the same or any other provision.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">DEFINITION AND INTERPRETATION</h4>
        <p class="desc">The following words used herein have the following definitions and meanings :- 'Authorised
            Users' refers to the Client's employees, agents, contractor, third parties, staffs or any entity that is
            duly authorised to act on behalf of the Client. 'Client' refers to you as the receiver of the Services and
            will also include inter alia, to your employees, agents, contractor, third parties, staffs or any entity
            that is duly authorised to act on behalf of you. 'Parties' collectively refers to 'the Company' and its
            employees, agents, contractor, third parties, staffs or any entity that is duly authorised to act on behalf
            of the Company for the carrying out of the Services as the Service Provider and 'You' as the Client and its
            authorised agents, contractors, employees or any entity duly authorised for and on behalf of you. 'Services'
            refers to the sale of gift cards for Naira or Cedis hereinafter displayed on the Website (as the case may
            be) (subject to change). 'Service Provider' refers to the Company and/or its employees, agent, contractor,
            third parties, staff or any entity that is duly authorised to act on behalf of the Company for the carrying
            out of the Services. 'We, Us or Our' refers to the Company and its employees, agents, contractor, third
            parties, staffs or any entity that is duly authorised to act on behalf of the Company. 'You or Your' refers
            to the Client.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">THE SERVICES</h4>
        <p class="desc">The Company shall provide the Services to the Client subject to the terms and conditions
            contained herein or any other reference to documents referred to by the Company to the Client or such other
            terms and conditions as may be agreed in writing between the Company and the Client. The Company shall
            provide to the Client the Services as specified on the Company's website. If in any event, the Company is
            unable to provide the Services, it will inform the Client as soon as reasonably possible. Responsibilities,
            Obligations and Due Diligence At the absolute discretion of the Company, it will provide the Client with the
            Services in its best endeavour to the Client. In the event that the Company is unable to provide the
            Services within a reasonable period from the dates(s) and time(s) and the Company have agreed or notified
            the Client, then the Client will have the rights subject to the terms and conditions contained herein to
            exercise the Client's option to wait until the Company is available to start performing the Services. In the
            event that the Company has begun performance of the Services and the Client has in the course of exercising
            your right of termination of the Agreement pursuant to the provision contained herein, the Client will be
            liable to pay for any Services incurred by the Company up to the date of termination of the Agreement.
            Without limitation to any of the rights contained herein and contractual remedies, the Company reserves the
            right to claim for any loses and damages incurred as a result of the termination. The Client shall not
            request the Company to perform Services which are immoral or unlawful in nature. The decision will be at the
            absolute discretion of the Company. The Client shall endeavour to provide the Company with as much detailed
            information as possible regarding the Services under request in order for the Company to provide excellent
            services. The Client shall not request the Company to perform Services to, from and for people or places
            where the Company's staffs, employees, agents and any other duly authorised entities of the Company may
            experience any form of abuse, bodily harm or death. Payment The Company offers the following services :-
            Buying of various gift cards; The Company requires payment for Services to be made prior to the performance
            of the Service. The Company shall be entitled to vary the Charge from time to time and shall communicate any
            such changes to the Client before any payment is made.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">TERMINATION AND REFUNDS</h4>
        <p class="desc">After the Parties have entered into the Agreement, refunds may only be requested, subject to the
            final discretion of the Company when performance by the Company has not begun. Any refunds made by the
            Company will be with reduction of the direct costs including any handling costs. Without prejudice to any
            other rights and remedies available, the Company shall have the right to terminate the Agreement for the
            provision of all or any of the Services upon written notice if the Client commits a serious breach of the
            terms and conditions contained herein. The Company reserves the right to claim against the Client including
            but not limited to losses and damages as a result of the termination by the Client. On termination for any
            reason whatsoever, the Client shall immediately make payment to the Company of all and any sums outstanding
            and owing to the Company. In the event that a deposit is paid by the Client, at the sole discretion of the
            Company, the deposit will be retained by the Company and for the necessary deduction of the Company losses
            and costs without prejudice to its rights to further claim damages against you.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">LIABILITY, EXCLUSION AND LIMITATIONS</h4>
        <p class="desc">The Company warrants to the Client that it shall use all of its reasonable endeavours to provide
            the Services using reasonable care and skill and as far as reasonably possible, in accordance with the
            Client's request. The Company will not exclude or limit liability for its negligence or negligent omission
            which causes personal injury or death. The Company shall not be liable for any loss, cost, expense or damage
            of any nature whatsoever (whether direct or indirect) resulting from the use of Services except where it is
            expressly determined that a person acting under the direct instruction of the Company has knowingly acted in
            a negligent manner. The Company shall have no liability to the Client for any loss, damage, costs, expenses
            or other claims for compensation arising from requests or instructions supplied by the Client which are
            incomplete, incorrect or inaccurate or any other fault of the Client. The Company shall not be liable or be
            deemed to be in breach of the Agreement by reason of any delay in performing, or any failure, any of the
            Company's obligations in relation to the Services, if the delay or failure was due to any cause beyond the
            Company's reasonable control. Subject to the provisions of the terms and conditions contained herein, the
            maximum liability of the Company to the Client for breach of any of its obligations hereunder shall be
            limited to the value of the Charge (provided that the Charge has at such time been paid by the Client in
            full).</p>
    </div>
    <div class="term-tile">
        <h4 class="title">DISCLOSURE OF INFORMATION</h4>
        <p class="desc">All private information shall be governed by the Privacy Policy on the Website. The Company does
            not sell, rent or lease its customer list to third parties. Unless the Company receives notice from the
            Client to the contrary, the Company shall from time to time provide to the Client (by post, telephone or
            email) such information in relation to the Services that the Company considers may be of interest to the
            Client.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">AMENDMENTS</h4>
        <p class="desc">The Company may update or modify this Agreement from time to time. If the Company modifies the
            Agreement during the Services, the modified version will take effect upon the next Service. Client may be
            required to check the update version from time to time after the modified version takes effect, in any event
            the continued use of the Services shall constitute acceptance of the modified version.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">SEVERABILITY</h4>
        <p class="desc">If any provision of this Agreement is found by any Court of competent jurisdiction to be
            unenforceable or invalid, that provision will be limited to the minimum extent necessary so that this
            Agreement may otherwise remain in effect.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">FORCE MAJEURE</h4>
        <p class="desc">Neither Party will be liable for any delay or failure to perform its obligations under the
            Agreement (except payment obligations) if the delay or failure is due to causes beyond its reasonable
            control, such as a strike, blockade, war, act of terrorism, riot, natural disaster, failure or reduction of
            power or telecommunications or data networks or services, or government act.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">SUBPOENAS</h4>
        <p class="desc">Nothing in the Agreement prevents the Company from disclosing Client information and data to the
            extent required by law, subpoenas, or court orders, but the Company will use commercially reasonable efforts
            to notify Client where permitted to do so.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">ASSIGNMENT</h4>
        <p class="desc">The Agreement will bind and inure to the benefit of each Party's permitted successors and
            assigns. Neither Party may assign the Agreement without the advance written consent of the other party,
            except that the Company may assign the Agreement without consent to an affiliate or in connection with a
            merger, reorganization, acquisition or other transfer of all or substantially all of its assets or voting
            securities.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">ENTIRE AGREEMENT</h4>
        <p class="desc">The Agreement represents the parties' complete and exclusive understanding relating to the
            Agreement's subject matter. It supersedes all prior or contemporaneous oral communications, proposals and
            representations with respect to the Company or any other subject matter covered by this Agreement.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">INCORPORATION</h4>
        <p class="desc">The Agreement, shall unless otherwise suggested, incorporate all terms and conditions contained
            and set out in the Privacy Policy and other written documents deemed appropriate by the Company including,
            without limitations, the contents on the Website.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">GOVERNING LAWS, JURISDICTION AND VENUE</h4>
        <p class="desc">This Agreement is governed by the laws of Nigeria, without regard to choice or conflict of law
            rules thereof.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">CONTACT</h4>
        <p class="desc">
            The Company welcomes your questions or comments regarding the foregoing Terms.<br>

            Email: [email protected]<br>

            Phone: 07058372518</p>
    </div>
</div>


<app-footer></app-footer>