<app-navbar></app-navbar>
<div class="nigerian-flag"></div>
<div class="ghanian-flag"></div>
<div class="home-cta">
    <h3 class="title" data-aos="fade-zoom-in" data-aos-duration="1000">
        The Best App For Gift Card Trading
    </h3>
    <p data-aos="fade-zoom-in" data-aos-duration="1000">Giftcardstonaira is the best app to redeem, sell, and exchange
        gift cards. Our app is designed to make the process of exchanging your gift cards simple and hassle-free.</p>
    <div class="store-btns">
        <a href="https://apps.apple.com/ng/app/giftcardstonaira-sell-giftcard/id1563355955" target="_blank"
            class="store-btn">
            <img src="assets/icons/ios.svg" />
            <div class="store-label">
                Get it on iOS
            </div>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.dockthor.giftcardstonaira" target="_blank"
            class="store-btn">
            <img src="assets/icons/android.svg" />
            <div class="store-label">
                Get it on Android
            </div>
        </a>
    </div>
    <div class="mockup" data-aos="zoom-in" data-aos-duration="1000">
    </div>
</div>

<div class="details-section d-md-block d-none ">
    <div class="features">
        <div class="feature-card" data-aos="zoom-in-right" data-aos-duration="1000">
            <img src="assets/images/mock_1.png">
        </div>
        <div class="feature-card" data-aos="fade-up" data-aos-duration="1000">
            <div>
                <h4 class="title">Redeem Up To 25+<br>Gift Cards with Ease</h4>
                <p class="desc">With our app, you can easily redeem many gift cards for cash(Naira or Cedis). Whether
                    you have an Amazon gift card, Steam card, Google Play, Apple iTunes or any other type of gift card,
                    our app makes it simple and easy to get the best value for your gift cards.
                </p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
        <div class="feature-card" data-aos="fade-up" data-aos-duration="1600">
            <div>
                <h4 class="title">High Rates or<br>Nothing</h4>
                <p class="desc">Our app offers the highest gift card rates in Nigeria and a simple, easy-to-use
                    interface. Our gift card rate calculator gives you access to the check the cards with the highest
                    rates today.</p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
        <div class="feature-card" data-aos="zoom-in-left" data-aos-duration="1600">
            <img src="assets/images/mock_2.png">
        </div>
        <div class="feature-card" data-aos="zoom-in-right" data-aos-duration="1800">
            <img src="assets/images/mock_3.png">
        </div>
        <div class="feature-card" data-aos="fade-up" data-aos-duration="1800">
            <div>
                <h4 class="title">Get Rewarded All<br>Day</h4>
                <p class="desc">Giftcardstonaira offers you free trading points on every gift card sale and you can also
                    earn money from our leaderboard system, poll challenges and referral system.</p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
    </div>
</div>

<div class="details-section d-sm-block d-md-none  ">
    <div class="features">
        <div class="feature-card">
            <img src="assets/images/mock_1.png">
        </div>
        <div class="feature-card feature-mobile">
            <div>
                <h4 class="title">Redeem Up To 25+<br>Gift Cards with Ease</h4>
                <p class="desc">With our app, you can easily redeem many gift cards for cash(Naira or Cedis). Whether
                    you have an Amazon gift card, Steam card, Google Play, Apple iTunes or any other type of gift card,
                    our app makes it simple and easy to get the best value for your gift cards.
                </p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
        <div class="feature-card mt-5">
            <img src="assets/images/mock_2.png">
        </div>
        <div class="feature-card feature-mobile">
            <div>
                <h4 class="title">High Rates or Nothing</h4>
                <p class="desc">Our app offers the highest gift card rates in Nigeria and a simple, easy-to-use
                    interface. Our gift card rate calculator gives you access to the check the cards with the highest
                    rates today.</p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
        <div class="feature-card">
            <img src="assets/images/mock_3.png">
        </div>
        <div class="feature-card feature-mobile">
            <div>
                <h4 class="title">Get Rewarded All Day</h4>
                <p class="desc">Giftcardstonaira offers you free trading points on every gift card sale and you can also
                    earn money from our leaderboard system, poll challenges and referral system.</p>
            </div>
            <a class="btn get-started-btn mt-5" href="https://app.giftcardstonaira.com/register" target="_blank">
                Get Started
            </a>
        </div>
    </div>
</div>

<div class="faq-section">
    <div class="faq-title">
        <h3 class="cta">Frequently Asked Questions About Giftcardstonaira</h3>
        <p class="desc desc-2">We answered some of the questions you might have.
        </p>
    </div>

    <div class="faq-accordion">
        <div class="accordion" id="faq-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                        aria-expanded="true" aria-controls="faq1">
                        Hope it's not a scam?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        We take great pride in the longevity of our business, which we've built over the years. We hold
                        our reputation in high esteem and would never do anything to tarnish it hastily. Our customers'
                        satisfaction is of utmost importance to us and remains at the forefront of our business
                        practices.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        Which gift card has the highest rate?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        At the moment, Steam, Amex, and Razer gift cards have the highest rates. However, please note
                        that our rates are subject to change based on market trends and demand. We recommend checking
                        our <a style=" color: #fff;
                        text-decoration: underline;" routerLink="/rates">RATE CALCULATOR</a> or contacting our customer
                        service team for the
                        latest rates.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        How fast will I get paid?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        You will typically receive payment within 5-10mins. We strive to process payments as quickly as
                        possible to ensure a seamless experience for our users. Rest assured that we prioritize prompt
                        payment delivery to ensure your funds reach you in a timely manner.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        How can I get rewarded for trading gift card?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        There are multiple rewarding opportunities on our platform. The top two methods to earn reward
                        points are trading gift cards, offering points for each transaction, and referring others,
                        granting you points for their transactions. Additionally, our leaderboard system,
                        prediction/poll challenges, and promo codes provide further avenues for rewards. Start earning
                        today!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="get-our-app">
    <app-app-download></app-app-download>
</div>

<div class="mb-5">
    <app-featured></app-featured>
</div>


<app-footer></app-footer>