<app-navbar></app-navbar>
<div class="home-cta">
    <h3 class="title" data-aos="fade-right" data-aos-duration="1000">
        Welcome to<br>Giftcardstonaira<br>Rewards
    </h3>
    <p data-aos="fade-right" data-aos-duration="1000">Your loyalty means the world to us</p>
</div>

<div class="details-section" data-aos="fade-up" data-aos-duration="1000">
    <p class="desc">At Giftcardstonaira, we believe in giving back to our valued customers. That's why we're excited to
        introduce our Giftcardstonaira Rewards program, designed to make every transaction with us more rewarding. With
        five fantastic ways to earn rewards, you'll enjoy an array of benefits just by being a loyal customer.</p>
    <h3 class="cta">Discover the ways to<br>earn rewards</h3>
    <div class="rewards" data-aos="fade-up" data-aos-duration="1300">
        <div class="reward-card">
            <h4 class="title">Trading<br>Reward Points</h4>
            <p class="desc">For every gift card transaction you complete with us, you'll earn Trading Reward Points. The
                more you trade, the more points you accumulate, which can be redeemed for cash or other exciting rewards
            </p>
        </div>
        <div class="reward-card">
            <h4 class="title">Referral<br>Reward Points</h4>
            <p class="desc">Share the Giftcardstonaira experience with your friends and earn Referral Reward Points!
                When your referred friends make transactions with us, you'll earn points that can be redeemed for cash
                or other great benefits FOREVER</p>
        </div>
        <div class="reward-card">
            <h4 class="title">Leaderboard</h4>
            <p class="desc">Compete with fellow Giftcardstonaira users and climb the ranks in our weekly and monthly
                Leaderboards. Reach the top 10 positions and earn bonus points, which can be redeemed for cash and other
                amazing prizes.</p>
        </div>
    </div>
    <div class="rewards" data-aos="fade-up" data-aos-duration="1300">
        <div class="reward-card">
            <h4 class="title">Polls</h4>
            <p class="desc">Participate in our free polls and have your voice heard. By taking part in our polls, you'll
                earn additional cash straight into your wallet, which can be redeemed for cash or other exciting
                rewards.</p>
        </div>
        <div class="reward-card">
            <h4 class="title">Promo Codes</h4>
            <p class="desc">Keep an eye out for special promo codes that we'll occasionally offer. These codes will give
                you added bonuses on your transactions, helping you get even more value from your Giftcardstonaira
                experience.</p>
        </div>
        <div class="reward-card reward-alt">
            <div class="reward-body">
                <p class="desc">Are you ready to make the most of your Giftcardstonaira experience?</p>
                <h4 class="title">Get started with us today<br>and start unlocking the amazing benefits that await you.
                    Happy trading!</h4>
            </div>
            <button class="btn get-started-btn mt-5">
                Get Started
            </button>
        </div>
    </div>
</div>


<div class="download-section">
    <app-app-download></app-app-download>
    <app-featured></app-featured>
</div>

<app-footer></app-footer>