<app-navbar [isAlt]="true"></app-navbar>
<div class="home-cta">
    <h3 class="title">
        The reliable gift cards exchanger in Nigeria
    </h3>
    <img src="assets/images/about.png">
    <p>Giftcardstonaira is a registered gift card trading company established in 2017 dedicated to providing world-class
        trading experience to people in Nigeria and Ghana. We buy your gift cards and pay in Naira. We make instant cash
        payment after redemption of gift cards.</p>
    <h4 class="mission">Our mission is to make gift card trading as simple and straightforward as possible, ensuring
        that you receive maximum value for your cards, and providing a hassle-free experience for both buyers and
        sellers.</h4>
    <div>
        <h4 class="title-small">What we do</h4>
        <p class="mt-3">We understand that gift cards can be an incredibly convenient way to show appreciation,
            celebrate special
            occasions, or even purchase everyday items. However, sometimes these cards can go unused, expire, or simply
            not
            be the right fit for the recipient. That's where our platform comes in - we provide a safe and reliable way
            for
            you to sell your unwanted gift cards and put some cash back in your pocket, while also allowing buyers to
            find
            great deals on gift cards for their favorite stores and brands.
            <br>
            <br>
            Our team is dedicated to providing excellent customer service and ensuring that all transactions on our
            platform
            are secure and efficient. We pride ourselves on our transparency, honesty, and integrity, and strive to
            create a
            community of gift card traders who can trust and rely on us for their trading needs.
        </p>
    </div>
</div>

<div class="download-section">
    <app-app-download></app-app-download>
    <app-featured></app-featured>
</div>

<app-footer></app-footer>