<div class="featured">
    <a href="https://guardian.ng/features/how-to-sell-gift-cards-on-giftcardstonaira-platform/" target="_blank"><img
            src="assets/images/guardian.png"></a>
    <!-- <a
        href="https://www.google.com/amp/s/dailypost.ng/2022/05/09/7-interesting-things-you-need-to-know-about-giftcardstonaira/%3famp=1"><img
            src="assets/images/daily_post.png"></a> -->
    <a href="https://www.pulse.ng/lifestyle/giftcardstonaira-launches-gift-card-trading-app/v7xlnb5.amp"
        target="_blank"><img src="assets/images/pulse.png"></a>
    <a href="https://www.premiumtimesng.com/promoted/296075-sell-itunes-gift-cards-on-giftcardstonaira-high-rates.html?tztc=1"
        target="_blank">
        <img src="assets/images/premium.png">
    </a>
    <a href="https://techcabal.com/2021/08/17/see-the-best-gift-card-selling-app-everyone-is-using-now/"
        target="_blank">
        <img src="assets/images/tech_cabal.png">
    </a>
</div>