<app-navbar [isAlt]="true"></app-navbar>
<div class="home-cta">
    <h3 class="title">
        Privacy Policy
    </h3>
    <p>Privacy Policy - Gift Cards To Naira</p>
</div>

<div class="details-section">
    <div class="term-tile">
        <h4 class="title">INTRODUCTION</h4>
        <p class="desc">This site is owned and operated by GiftCardsToNaira.com (“the Company”) with its website located
            at 'giftcardstonaira.com' (“the Website”). The Company provides various services, including but not limited
            to the buying of gift cards Your privacy on the Internet is of the utmost importance to us. We will never
            share your personal information with any third party, but because we may gather certain types of information
            about our users, we feel you should fully understand our policy and the terms and conditions surrounding the
            capture and use of that information. This privacy statement discloses what information we gather and how we
            use it. The private information you provide on the Website will be used only for its intended purpose. By
            using the Website, you consent to the data practices described hereinafter.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">COLLECTION OF PERSONAL INFORMATION</h4>
        <p class="desc">By using the Website and its functions, you may provide basic information such as, including but
            not limited to, your name, phone number, address and email address which allows us to send information,
            provide updates and/or process the type of Services you so desire. If you sign up with the Company and/or
            purchase services through the Company, we may also collect, inter alia, billing and credit card information.
            The Company encourages you to review the privacy statements of the Websites you choose to link to and from
            the Company so that you can understand how those Websites collect, use and share your information (“Third
            Party Website”). The Company is not responsible for the privacy statements or other contents on the Third
            Party Website outside of the Company's Website.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">THE NATURE OF PERSONAL INFORMATION WE COLLECT</h4>
        <p class="desc">Personal information we collect which you may provide to us includes, inter alia:- 'Identifying
            information' (i.e. name, date and place of birth, gender, age); 'Contact information' (i.e. home / office
            address, home / mobile / office phone numbers); and 'Financial information' (i.e. bank account details,
            credit card details). As a general rule, you have the right not to provide the foregoing information when
            dealing with the Company and/or when we provide the Services to you. However, not providing certain
            information may result in the, inter alia, inability to provide you with the Services.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">AUTOMATICALLY COLLECTED INFORMATION</h4>
        <p class="desc">We collect and temporarily store certain information about your visit for use in site management
            and security purposes only. We collect and analyse this information because it helps us to better design the
            Website to suit your needs. We may also automatically collect information about the web content you view in
            the event of a known security or virus threat. The information includes, inter alia :- The internet domain
            name from which you access our Website (for example, “xcompany.com” if you use a private internet access
            account, or “yourschool.edu” if you connect from an educational domain); The internet protocol (“IP”)
            address (a unique number for each computer connected to the internet) from which you access our Website; The
            type of browser used to access our Website; The operating system used to access our Website; The date and
            time you access our Website; The Universal Resource Locators (“URLs”) or address of the pages you visit;
            Your username, if it was used to log in to the Website; and If you visited this Website from another
            website, the URL of the forwarding site.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">INFORMATION COLLECTED FOR TRACKING AND CUSTOMIZATION (COOKIES)</h4>
        <p class="desc">A 'cookie' is a small file that a website transfers to your computer to allow it to remember
            specific information about your session while you are connected. Your computer will only share the
            information in the cookie with the Website that provided it, and no other Website can request it. There are
            two types of cookies: 'Session': Session cookies last only as long as your web browser is open. Once you
            close your browser, the cookie is deleted. Websites may use session cookies for technical purposes such as
            to enable better navigation through the site, or to allow you to customize your preferences for interacting
            with the site. 'Persistent': Persistent cookies are saved on a user's hard drive in order to determine which
            users are new to the site or are returning.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">USE OF YOUR PERSONAL INFORMATION</h4>
        <p class="desc">The Company collects and uses your personal information to operate the Website and deliver the
            Services. The Company does not sell, rent or lease its customer list to third parties. The Company may, from
            time to time, contact you on behalf of, including but not limited to, third parties about a particular
            offering that may be of interest to you. In those cases, your personal information (i.e. email, name,
            address, telephone number) is transferred to the third party. The Company may share data between/with, inter
            alia, the third parties to help perform statistical analysis send you email, provide customer support, or
            arrange for deliveries. All such third parties are prohibited from using your personal information except to
            provide these Services to the Company and they are required to maintain the confidentiality of your
            information. The Company may keep track of the Website and pages our users visit within the Company, in
            order to determine what the Company services are the most popular. The data is used to deliver customized
            content and advertising within the Company to customers whose behaviour indicates they are interested in a
            particular subject area.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">DISCLOSURE OF YOUR PERSONAL INFORMATION</h4>
        <p class="desc">The personal information you provide to us whether voluntarily or automatically as the foregoing
            paragraphs describes, may be used and disclosed without limitations, to our employees, staffs, insurers,
            professionals, agents, suppliers, subcontractors and/or other parties we deem fit for the purpose and in the
            manner reasonably necessary for the carrying out of the Services and for purposes set out in this Privacy
            Policy. Personal information may be disclosed and/or supplied between the third parties. When personal
            information is disclosed and/or supplied between the third parties, all terms and conditions contained
            herein shall have effect for the purpose of protecting your personal information. Compliance with legal
            requirements for the enforcement of law, regulations, court orders, subpoena, warrant during the course of a
            legal proceedings or otherwise may render our need to disclose personal information. Personal information
            may also be used to protect and safeguard the copyright, trademarks, legal rights, intellectual property
            rights or safety of the Company.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">SECURITY OF YOUR PERSONAL INFORMATION</h4>
        <p class="desc">The Company secures your personal information from unauthorized access, use or disclosure.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">CHILDREN UNDER THIRTEEN</h4>
        <p class="desc">The Company does not knowingly collect personal information from children under the age of
            thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use
            this Website.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">OPT-OUT & UNSUBSCRIBE</h4>
        <p class="desc">The Company respects your privacy and gives you an opportunity to opt-out of receiving
            information in respect of the Services by contacting us at help@giftcardstonaira.com.</p>
    </div>
    <div class="term-tile">
        <h4 class="title">CHANGES</h4>
        <p class="desc">The terms contained in this Privacy Policy may change and subject to modification and
            amendments. All modifications and the time of the changes and modification will be subject to the sole
            direction of the Company and such changes will have an immediate effect. No notice will be given to you
            prior to such changes and/or modifications; you are therefore advised to review our Privacy Policy from time
            to time</p>
    </div>
</div>


<app-footer></app-footer>